.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.container {
	max-width: 1152px;
	padding: 0 15px;
	margin: 0 auto;
}

.card {
	border: 1px solid #dad8d8;
	/* padding: 1rem; */
	border-radius: 5px;
}
